/*------------------------------------------------------------------
Project:	Berger - Minimal masonry portfolio template
Version:	1.0
Last change:	26/11/2014
Assigned to:	ClaPat 
Primary use:	Showcase Portfolio 
-------------------------------------------------------------------*/

@import url("flexslider.css");
@import url("sliders.css");
@import url("shop.css");
@import url("colorbox.css");


/*------------------------------------------------------------------

01. General Styles
02. Preloader
03. Header
04. Secondary Menu
05. Full Screen Overlay Menu
06. Content Styles
07. Portfolio Filters
08. Portfolio Items
09. Portfolio Isotope Transitions
10. Project Page
11. Blog Page
12. Contact Page
13. Image & Div Animation
14. Shortcodes
15. Footer
16. Responsive Media Querries

-------------------------------------------------------------------*/

	
/* 1. General Styles */
	@font-face {
		font-family: Raleway;
		src: url(../fonts/Raleway-Regular.ttf);
	}
	
	html,body{
		font-family:'Raleway', sans-serif;
		font-weight: 400;
		font-size:12px;
		height:100%;
		width:100%;
		color:#999999;
		background:#fff;
	}
	
	body{
		overflow-x:hidden;
		overflow-y:scroll;
	}
	
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
		border: 0;
		margin: 0;
		outline: 0;
		padding: 0;
		vertical-align: baseline;
	}
	
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	nav,
	section {
		display: block;
	}
	
	audio,
	canvas,
	video {
		display: inline-block;
		max-width: 100%;
	}	
	
	address {
		font-style: italic;
		margin-bottom: 24px;
	}
	
	abbr[title] {
		border-bottom: 1px dotted #2b2b2b;
		cursor: help;
	}
	
	b,
	strong {
		font-weight: 600;
	}
	
	cite,
	dfn,
	em,
	i {
		font-style: italic;
	}
	
	mark,
	ins {
		background: none repeat scroll 0 0 #34d5cb;
		padding: 3px 6px;
		text-decoration: none;
	}
	
	code,
	kbd,
	tt,
	var,
	samp,
	pre {
		font-family: monospace, serif;
		font-size: 15px;
		-webkit-hyphens: none;
		-moz-hyphens:    none;
		-ms-hyphens:     none;
		hyphens:         none;
		line-height: 1.6;
	}
	
	pre {
		border: 1px solid rgba(0, 0, 0, 0.1);
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		margin-bottom: 24px;
		max-width: 100%;
		overflow: auto;
		padding: 12px;
		white-space: pre;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
	
	blockquote,
	q {
		-webkit-hyphens: none;
		-moz-hyphens:    none;
		-ms-hyphens:     none;
		hyphens:         none;
		quotes: none;
	}
	
	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
		content: "";
		content: none;
	}
	
	blockquote {
		color: #000;
		font-size: 18px;
		font-style: italic;
		font-weight: 300;
		line-height: 30px;
		margin-bottom: 24px;
		font-family:Georgia, "Times New Roman", Times, serif;
		border-left:2px #ddd solid;
		padding:20px 20px 20px 40px;
		letter-spacing: 0.01em;
	}
	
	blockquote span {
		display:block;
		margin-top:20px;
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
		font-style:normal;
		color:#999;
	}
	
	blockquote cite,
	blockquote small {
		color: #2b2b2b;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
	}
	
	blockquote em,
	blockquote i,
	blockquote cite {
		font-style: normal;
	}
	
	blockquote strong,
	blockquote b {
		font-weight: 400;
	}
	
	small {
		font-size: smaller;
	}
	
	big {
		font-size: 125%;
	}
	
	sup,
	sub {
		font-size: 75%;
		height: 0;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	
	sup {
		bottom: 1ex;
	}
	
	sub {
		top: .5ex;
	}
	
	dl {
		margin-bottom: 24px;
	}
	
	dt {
		font-weight: bold;
	}
	
	dd {
		margin-bottom: 24px;
	}
	
	ul,
	ol {
		list-style: none;
		margin: 0 0 24px 20px;
	}
	
	ul {
		list-style: disc;
	}
	
	ol {
		list-style: decimal;
	}
	
	li > ul,
	li > ol {
		margin: 0 0 0 20px;
	}
	
	li {
		line-height: 20px;
	}
	
	figure {
		margin: 0;
	}
	
	fieldset {
		border: 1px solid rgba(0, 0, 0, 0.1);
		margin: 0 0 24px;
		padding: 11px 12px 0;
	}
	
	legend {
		white-space: normal;
	}
	
	button,	input {
		line-height: normal;
	}
	
	input,
	textarea {
		background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
	}
	
	button, html input[type="button"], input[type="reset"], input[type="submit"] {
		cursor: pointer;
	}
	
	button[disabled],
	input[disabled] {
		cursor: default;
	}
	
	input[type="checkbox"],
	input[type="radio"] {
		padding: 0;
	}
	
	input[type="search"] {

		-webkit-appearance: textfield;
	}
	
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}
	
	button::-moz-focus-inner, input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	
	textarea {
		overflow: auto;
		vertical-align: top;
	}
	
	table, th, td {
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	
	table {
		border-collapse: separate;
		border-spacing: 0;
		border-width: 1px 0 0 1px;
		margin-bottom: 24px;	
		width: 100%;
	}
	
	caption, th, td {
		font-weight: normal;
		text-align: left;
	}
	
	th {
		border-width: 0 1px 1px 0;
		font-weight: bold;
	}
	
	td {
		border-width: 0 1px 1px 0;
	}
	
	del {
		color: #767676;
	}
	
	hr {
		border: 0;
		height: 180px;
		width:100%;
		float:none;
		margin:0;
		display:inline-block;
	}
	
	hr.small {
		height:20px;
	}
	
	hr:after {
		clear: both;
		content: " ";
		display: block;
		height: 0;
		visibility: hidden;
	}
	
	::selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}
	
	::-moz-selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}
	
	img {
		border: 0 none;
		height: auto;
		max-width: 100%;
		vertical-align: middle;
	}
		
	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		font-family: 'Montserrat', sans-serif;
		color:#000;
		margin-bottom:10px;
	}	
	
	h1{
		font-size:48px;
		line-height: 54px;
		margin-left:-3px;
	}
	
	h2{
		font-size: 36px;
		line-height: 48px;
		margin-left:-3px;
	}
	
	h3{
		font-size:30px;
		line-height: 36px;
		margin-left:-2px;
	}
	
	h4{
		font-size:24px;
		line-height: 30px;
		margin-left:-1px;	
	}
	
	h5{
		font-size:18px;
		line-height: 24px;
		margin-left:-1px;
	}
	
	h6{
		font-size:14px;
		line-height: 18px;
	}
	
	.light-content h1, .light-content h2, .light-content h3, .light-content h4, .light-content h5, .light-content h6 {
		color: #fff;
	}
	
	.title-has-line {
		position:relative;
		margin-bottom:60px;
	}
	
	.title-has-line:after {
		background: none repeat scroll 0 0 #ddd;
		bottom: -20px;
		content: "";
		height: 1px;
		left: 0;
		position: absolute;
		width: 40px;
	}
	
	.text-align-center .title-has-line:after {
		background: none repeat scroll 0 0 #ddd;
		bottom: -20px;
		content: "";
		height: 1px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 40px;
	}
	
	.text-align-center.title-has-line:after {
		background: none repeat scroll 0 0 #ddd;
		bottom: -20px;
		content: "";
		height: 1px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 40px;
	}
		
	strong {
		font-weight:700;
	}
	
	p {
		font-size:12px;
		margin-bottom:20px;
		line-height:25px;
	}
	
	.monospace {
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
	}
	
	.container {
		width:1280px;
		margin:0 auto;
	}
	
	a:hover, a:active, a:focus {
	  outline: 0;
	  color: #34d5cb;
	}
	
	a {
        text-decoration: none;
        -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
           -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
            -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
             -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
                transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
    }
	
	a {
		color: #000;
		outline: 0;
	}
	
	.light-link {
		color:#fff;
	}
	
	a:hover {
		text-decoration:none;
	}
	
	.one_half {
    	width: 47%;
	}	

	.one_third {
		width: 30.6%;
	}	

	.one_fourth {
		width: 22%;
	}	

	.one_fifth {
		width: 16.8%;
	}	

	.one_sixth {
		width: 13.33%;
	}	

	.two_fifth {
		width: 37.6%;
	}	

	.two_fourth {
		width: 48%;
	}		

	.two_third {
		width: 65.33%;
	}	

	.three_fifth {
		width: 58.4%;
	}	

	.three_fourth {
		width: 74%;
	}	

	.four_fifth {
		width: 79.2%;
	}	

	.five_sixth {
		width: 82.67%;
	}	

	.one_third, .two_third, .three_fourth, .one_fourth, .two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
		float: left;
		margin-bottom: 20px;
		margin-right: 4%;
		position: relative;
	}
	
	.one_half {
		float: left;
		margin-bottom: 20px;
		margin-right: 6%;
		position: relative;
	}

	.last {
		margin-right:0px;
	}
	
	.text-align-center {
		text-align:center;
	}
	
	.text-align-left {
		text-align:left;
	}
	
	.outer {
		display:table;
		width:100%;
		height:100%;
	}
	
	.inner {
		display:table-cell;
		vertical-align:middle;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	
	
/*--------------------------------------------------
	02. Preloader 
---------------------------------------------------*/
	
	.clapat-mask {
		background:#fff;
		height:100%;
		width:100%;
		position:fixed;
		z-index:1000;
	}
	
	#clapatloader {
		width: 40px;
		height: 40px;
		left: 50%;
		top: 50%;
		position: absolute;
		margin: -20px 0 0 -20px;
		background-color: #999;		
		border-radius: 100%;  
		-webkit-animation: scaleout 1.0s infinite ease-in-out;
		animation: scaleout 1.0s infinite ease-in-out;
	}
	
	@-webkit-keyframes scaleout {
		0% { -webkit-transform: scale(0.0) }
		100% {-webkit-transform: scale(1.0); opacity: 0; }
	}
	
	@keyframes scaleout {
		0% { 
		transform: scale(0.0); -webkit-transform: scale(0.0); } 
		100% { transform: scale(1.0); -webkit-transform: scale(1.0); opacity: 0; }
	}
	
	
	
/*--------------------------------------------------
	03. Header
---------------------------------------------------*/	

	header {		
		width:100%;
		position: fixed;
		top: 0px;
		z-index:2000;
		height: 80px;
		-webkit-transition: top 0.3s ease-in-out;
		-moz-transition: top 0.3s ease-in-out;
		-o-transition: top 0.3s ease-in-out;
		-ms-transition: top 0.3s ease-in-out;
		transition: top 0.3s ease-in-out;
	}
	header.hbg {
		background: #fff;
	}
	
	header.nav-down {
		top:0;
	}

	header.nav-up {
		top: -80px;
	}
	
	header.first-load {
		height: 0px;	
		-webkit-transition: all 0s cubic-bezier(1.000, 0.010, 0.330, 1);			
		-moz-transition: all 0s cubic-bezier(1.000, 0.010, 0.330, 1);			
		-o-transition: all 0s cubic-bezier(1.000, 0.010, 0.330, 1);			
		-ms-transition: all 0s cubic-bezier(1.000, 0.010, 0.330, 1);			
		transition: all 0s cubic-bezier(1.000, 0.010, 0.330, 1);
		opacity: 0;
		top: 0px;			
	}
	
	#header-wrapper {
		-webkit-transition: opacity 0.4s ease-in-out;
		-moz-transition: opacity 0.4s ease-in-out;
		-o-transition: opacity 0.4s ease-in-out;
		-ms-transition: opacity 0.4s ease-in-out;
		-khtml-transition: opacity 0.4s ease-in-out;
		transition: opacity 0.4s ease-in-out;
		opacity: 0;
		width: 1280px;
		margin: 0 auto;
		z-index:9999;
		height:80px;
		line-height:80px;
		position:relative;		
	}
		
	#logo {
		margin:20px 0;
		height:40px;
		width:auto;
		float:left;
	}
	
	#logo img {
		height:100%;
		width:auto;
		display:block;
	}
	
	.clapat-menubtn {
		float:right;
		margin:30px 0 29px 10px;
		cursor:pointer;	
	}
	
	.clapat-menubtn .btn_menu_line {
		height:3px;
		width:20px;
		margin:3px 0 3px 3px;
		background-color:#000;
		display:block;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.clapat-menubtn:hover .btn_menu_line {
		background-color:#34d5cb!important;
	}
			
			
			
/*--------------------------------------------------
	04. Secondary Menu
---------------------------------------------------*/	
	
	#secondary-menu {
		opacity:1;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	#secondary-menu.hide-secondary {
		opacity:0!important;
	}
	
	.menu {
		margin: 0;
		padding: 0;
		list-style-type: none;
		float: right;
	}
	
	.menu li:hover { 
		visibility: inherit; 
	}
	
	.menu li {
		position: relative;
		display: inline;
		float: left;		
	}
	
	.menu li a {
		text-decoration: none;
		font-size:13px;
		font-weight: 400;
		color: #999;
		padding: 0px 20px;
		display: block;
		float: left;
		height:inherit;
		line-height:81px;
		height:80px;
	}
	
	.menu li a:hover, .menu li.sfHover a {
		color: #000;
	}
	
	.menu li a.current {
		color: #000;
	}
	
	
	
/*--------------------------------------------------
	05. Full Screen Overlay Menu
---------------------------------------------------*/	
	
	.clapat-overlay-menu .inner {
		padding:0;
	}
	
	.clapat-overlay-menu {
		position:fixed;
		top:0;
		left:0;
		z-index:100;
		display:none;
		width:100%;
		height:100%;
	}

	.clapat-overlay-menu .clapat-menu-container {
		position:relative;
		z-index:102;
		width:100%;
		height:100%;
		color:#fff;
		text-align:left;
		display:inline-block;
	}

	.scr_menu {
		overflow: scroll; overflow-x:hidden;
	}
	
	.scr_menu .inner {
		padding:0;
		padding-right:25px;
	}
	
	.clapat-overlay-menu .clapat-menu-container .categories {
		margin:0;
		display: inline-block;
	}

	.clapat-overlay-menu .clapat-menu-container .categories li {
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity:0;
		-webkit-transition:opacity 500ms cubic-bezier(0.455,0.03,0,1);
		-moz-transition:opacity 500ms cubic-bezier(0.455,0.03,0,1);
		-o-transition:opacity 500ms cubic-bezier(0.455,0.03,0,1);
		transition:opacity 500ms cubic-bezier(0.455,0.03,0,1);
		-webkit-perspective:1000;
		-moz-perspective:1000;
		-ms-perspective:1000;
		-o-perspective:1000;
		perspective:1000;
		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
		-o-backface-visibility:hidden;
		backface-visibility:hidden;
		-webkit-transition-delay:0;
		-moz-transition-delay:0;
		-o-transition-delay:0;
		transition-delay:0;
		list-style:none;
		text-transform:uppercase;
		letter-spacing:1px;
		font-size:36px;
		font-weight:500;
		margin:0 0 10px;
		padding:0;
	}
	
	.clapat-overlay-menu .clapat-menu-container .categories li a {
		display:block;
		color:#666;
		font-family: 'Montserrat', sans-serif;
		line-height: 36px;
	}

	.clapat-overlay-menu .clapat-menu-container .categories li a:hover, .clapat-overlay-menu .clapat-menu-container .categories li a.is-active, .clapat-overlay-menu .clapat-menu-container .categories li a.active {
		color:#fff;
	}

	.dropdown .submenu {
		overflow: hidden;
		max-height: 0;
		margin:0;
		transition:all 0.6s ease 0s;
		-moz-transition:all 0.6s ease 0s;
		-webkit-transition:all 0.6s ease 0s;
		-o-transition:all 0.6s ease 0s;
	}

	.dropdown .submenu li {
		opacity:1!important;
		text-transform:none!important;
		letter-spacing:0!important;
	}
	
	.dropdown .submenu li:first-child {
		margin-top:10px;
	}
	
	.dropdown .submenu li:last-child {
		margin-bottom:15px;
	}
	
	.dropdown .submenu li a {
		font-size:12px;
		margin:5px 8px 0px;
		font-family:Verdana, Geneva, sans-serif!important;
		line-height: 18px!important;
	}
	
	
	.dropdown:hover .submenu {
		max-height:500px;
		transition:all 1.2s ease-in-out 0.1s;
		-moz-transition:all 1.2s ease-in-out 0.1s;
		-webkit-transition:all 1.2s ease-in-out 0.1s;
		-o-transition:all 1.2s ease-in-out 0.1s;
	}

	.clapat-overlay-menu .clapat-menubg {
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity:0;
		-webkit-transition:opacity 700ms cubic-bezier(0.39,0.575,0.565,1);
		-moz-transition:opacity 700ms cubic-bezier(0.39,0.575,0.565,1);
		-o-transition:opacity 700ms cubic-bezier(0.39,0.575,0.565,1);
		transition:opacity 700ms cubic-bezier(0.39,0.575,0.565,1);
		-webkit-transition-delay:400ms;
		-moz-transition-delay:400ms;
		-o-transition-delay:400ms;
		transition-delay:400ms;
		position:absolute;
		top:0;
		left:0;
		z-index:101;
		width:100%;
		height:100%;
	}

	.clapat-overlay-menu.is-active .clapat-menubg {
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		-webkit-transition:opacity 500ms cubic-bezier(0.455,0.03,0,1);
		-moz-transition:opacity 500ms cubic-bezier(0.455,0.03,0,1);
		-o-transition:opacity 500ms cubic-bezier(0.455,0.03,0,1);
		transition:opacity 500ms cubic-bezier(0.455,0.03,0,1);
	}

	.clapat-menubg-overlay {
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.9);
	}

	.clapat-overlay-menu.is-active .categories {
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		-webkit-transition:opacity 800ms cubic-bezier(0.6,-0.28,0.735,0.045);
		-moz-transition:opacity 800ms cubic-bezier(0.6,-0.28,0.735,0.045);
		-o-transition:opacity 800ms cubic-bezier(0.6,-0.28,0.735,0.045);
		transition:opacity 800ms cubic-bezier(0.6,-0.28,0.735,0.045);
	}

	.clapat-overlay-menu.is-active .categories li {
		-webkit-transition:opacity cubic-bezier(0.6,-0.28,0.735,0.045);
		-moz-transition:opacity cubic-bezier(0.6,-0.28,0.735,0.045);
		-o-transition:opacity cubic-bezier(0.6,-0.28,0.735,0.045);
		transition:opacity cubic-bezier(0.6,-0.28,0.735,0.045);
	}

	.clapat-overlay-menu.is-active .menu-socials, .clapat-overlay-menu.is-active .menu-copyright {
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
		opacity:1;
		-webkit-transition:opacity 700ms cubic-bezier(0.39,0.575,0.565,1);
		-moz-transition:opacity 700ms cubic-bezier(0.39,0.575,0.565,1);
		-o-transition:opacity 700ms cubic-bezier(0.39,0.575,0.565,1);
		transition:opacity 700ms cubic-bezier(0.39,0.575,0.565,1);
		-webkit-transition-delay:700ms;
		-moz-transition-delay:700ms;
		-o-transition-delay:700ms;
		transition-delay:700ms;
	}
	
	.clapat-overlay-menu .menu-socials, .clapat-overlay-menu .menu-copyright {
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity:0;
		-webkit-transition:opacity 300ms cubic-bezier(0.39,0.575,0.565,1);
		-moz-transition:opacity 300ms cubic-bezier(0.39,0.575,0.565,1);
		-o-transition:opacity 300ms cubic-bezier(0.39,0.575,0.565,1);
		transition:opacity 300ms cubic-bezier(0.39,0.575,0.565,1);
		position:absolute;
	}
	
	.clapat-menuclosebtn {	
		top:50px;
		right:50px;
		height:30px;
		width:30px;
		position:absolute;
		cursor:pointer;
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity:0;
		-webkit-transition:opacity 400ms cubic-bezier(0.39,0.575,0.565,1);
		-moz-transition:opacity 400ms cubic-bezier(0.39,0.575,0.565,1);
		-o-transition:opacity 400ms cubic-bezier(0.39,0.575,0.565,1);
		transition:opacity 400ms cubic-bezier(0.39,0.575,0.565,1);
	}

	.clapat-menuclosebtn.is-active {
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:100;
		-webkit-transition:opacity 1ms cubic-bezier(0.39,0.575,0.565,1);
		-moz-transition:opacity 700ms cubic-bezier(0.39,0.575,0.565,1);
		-o-transition:opacity 700ms cubic-bezier(0.39,0.575,0.565,1);
		transition:opacity 700ms cubic-bezier(0.39,0.575,0.565,1);
		-webkit-transition-delay:1s;
		-moz-transition-delay:1s;
		-o-transition-delay:1s;
		transition-delay:1s;
	}

	.closebtn-rotate {
		height:30px;
		width:30px;
		position:absolute;	
		transition:transform 0.4s ease 0s;
		-moz-transition:transform 0.4s ease 0s;
		-webkit-transition:transform 0.4s ease 0s;
		-o-transition:transform 0.4s ease 0s;
	}
	
	.closebtn-rotate:hover {
		-ms-transform: rotate(180deg); 
		-webkit-transform: rotate(180deg); 
		-o-transition:rotate(180deg);
		transform: rotate(180deg);
	}
		
	
	.clapat-menuclosebtn .btn_menu_line {
		-ms-transform: rotate(-45deg); 
		-webkit-transform: rotate(-45deg); 
		transform: rotate(-45deg);
		background-color: #fff;
		display: block;
		height: 3px;
		width: 30px;
		position:absolute;
		margin-top:13px;
	}
	
	.clapat-menuclosebtn .btn_menu_line:first-child {
		-ms-transform: rotate(45deg); 
		-webkit-transform: rotate(45deg); 
		transform: rotate(45deg);
	}
	
	.clapat-overlay-menu .menu-copyright {
		bottom:40px;
		left:60px;
		color:#999;
	}
	
	.clapat-overlay-menu .menu-socials {
		bottom:30px;
		right:50px;
	}
	
	.menu-socials {	
		margin:0px;
		display:block;
	}
	
	.menu-socials li {
		list-style:none;
		display:inline-block;
		margin-left: -4px;
	}
	
	.menu-socials li:first-child {
		margin-left: 3px;
	}
	
	.menu-socials li:first-child a {
		padding-left: 0px;
	}
	
	.menu-socials li a {
		border-right: 1px dotted rgba(255, 255, 255, 0.1);
		padding:0 20px;
		color: #999;
		display: block;
		font-size: 16px;
		height: 16px;
		line-height: 10px;
		width:20px;
	}
	
	.menu-socials li:last-child a {
		border-right: none;
	}
	
	.menu-socials li a:hover {
		color:#fff;
	}
	
		
			
/*--------------------------------------------------
	06. Content Styles
---------------------------------------------------*/				
			
	#content {
		background-color:#f8f8f8;
	}
	
	#content:after {
		clear: both;
		content: " ";
		display: block;
		height: 0;
		visibility: hidden;
	}
	
	#content-ajax {
	}
	
	#hero {
		position: relative;
		width: 100%;
		background-color:#fff;
		z-index:0;
	}
	
	#hero img {
		max-width:100%;
	}
	
	.hero-image {
		width:100%;
		height:100%; 
		margin:0;
		padding:0;	
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center center;
		background-repeat:no-repeat;
	}
	
	.overlay {
		height:100%;
		width:100%;
	}
	
	#main {
		background-color:#fff;
		position:relative;
		z-index:1;
		padding:200px 0;
		width:100%;
		overflow:hidden;
	}
	
	#main:after {
		clear: both;
		content: " ";
		display: block;
	}
	
	.page-title {
		display: block;
		padding-bottom: 20px;
		width: 800px;
	}
	
	.page-title.text-align-center {
		margin:0 auto;
	}	
	
	.scrolltotop{
		width:60px; 
		height:60px;
		position:fixed;
		bottom:40px;
		right:40px;
		display:none;
		z-index:100;
		opacity:0.5;
		cursor:pointer;
	}
	
	.top-arrow {
		width:60px; 
		height:60px;
		background: #999;
		background-image:url(../images/top_arrow.png);
		background-size:22px 12px;
		background-repeat:no-repeat;
		background-position:center center;
		opacity:0.5;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.scrolltotop:hover .top-arrow {
		opacity:1;
	}
	
	#video-container {
		height:100%; 
		width:100%; 
		position:fixed;
	}
	
	#stopmovie {
		height:100%; 
		width:100%; 
		position:absolute; 
		z-index:0;
		cursor:pointer;
	}
	
	#playmovie {
		width:100%; 
		position:fixed;
		z-index:10;
		background-image:url(../images/video.jpg);
		opacity:1;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center center;
		background-repeat:no-repeat;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	#playmovie.hidden-play {
		opacity:0;
	}
	
	.play-icon {
		text-align:center;
		border:#fff 10px solid;
		width:100px;
		height:100px;
		margin:0 auto;
		border-radius:100px;
		cursor:pointer;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.play-icon:hover {
		border:#34d5cb 10px solid;
	}
	
	.play-icon i {
		color: #fff;
		font-size: 36px;
		line-height: 100px;
		margin-left: 7px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.play-icon:hover i {
		color: #34d5cb;
	}
	
	section {
		margin-left: -50%;
		padding-left: 50%;
		padding-right: 50%;
		position: relative;
		width: 100%;
		z-index: 0;
		display: inline-block;
	}
	
	section .overlay {
		margin-left: -50%;
		padding-left: 50%;
		padding-right: 50%;
		padding-top:150px;
		padding-bottom:150px;
		position: relative;
		width: 100%;
	}
	
	.parallax {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center center;
		background-repeat:no-repeat;
		background-attachment: fixed !important;
		
	}
	
	
	
	
/*--------------------------------------------------
	07 .Portfolio Filters
---------------------------------------------------*/
	
	#filters {
		margin: 0;
		text-align: center;
		width: 100%;
		opacity:1;
		max-height:200px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	#filters.filters-hide {
		opacity:0;
		max-height:0px;
	}
	
	#filters li {
		display: inline-block;
		height: 20px;
		line-height: 20px;
		margin: 0px 10px 150px;
	}
	
	#filters li a {
		display:inline-block;
		text-transform:uppercase;
		letter-spacing:2px;
		color:#999999;
	}
	
	#filters li a:hover {
		color:#34d5cb;
	}
	
	#filters li a.active {
		color:#000;
	}
	
	
	
/*--------------------------------------------------
	08. Portfolio Items
---------------------------------------------------*/
	
	#portfolio-wrap {
		width:1380px;
		margin:0 auto;		
	}
	
	#portfolio-wrap.no-gutter {
		width:1280px;
		margin:0 auto;		
	}
	
	#portfolio {
      	width: 100%;
		-webkit-transition: height 0.3s ease-in-out;
		-moz-transition: height 0.3s ease-in-out;
		-o-transition: height 0.3s ease-in-out;
		-ms-transition: height 0.3s ease-in-out;
		transition: height 0.3s ease-in-out;
    }
	
	.item {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		overflow:hidden;
    }
	
	.item-content {
		height:100%;
		width:100%;
		position:absolute;
		background-color:#eeeeee;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align:center;
		padding:0px;
		background-size:cover;
		background-position:center center;
		overflow:hidden;
		display: table;
		-webkit-transform: scale(1.01);
		-moz-transform: scale(1.01);
		-o-transform: scale(1.01);
		-ms-transform: scale(1.01);
		transform: scale(1.01);
		-webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
		-moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
		-o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
		-ms-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
		transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    }
	
	.item:hover .item-content {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
		-webkit-transition: all 5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
		-moz-transition: all 5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
		-o-transition: all 5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
		-ms-transition: all 5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
		transition: all 5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	}
	
	.item-overlay {
		height:100%;
		width:100%;
		background:rgba(0,0,0,0);
		position:absolute;
		opacity:0;
		box-sizing:border-box;	
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;		
	}
	
	.padding-overlay {
		padding:0px;
		box-sizing:border-box;
		display:table;
		position:absolute;
		width:100%;
		height:100%;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.item:hover .padding-overlay {
		padding:30px;
		-webkit-transition: all 0.2s ease-in-out 0.1s;
		-moz-transition: all 0.2s ease-in-out 0.1s;
		-o-transition: all 0.2s ease-in-out 0.1s;
		-ms-transition: all 0.2s ease-in-out 0.1s;
		transition: all 0.2s ease-in-out 0.1s;
	}
	
	.padding-overlay .item-overlay {
		display:table-cell;
		position:relative;
		overflow:hidden;
		text-align:center;
		vertical-align:middle;
	}
	
	.item:hover .item-overlay {
		background:rgba(0,0,0,0.8);
		opacity:1;
	}
	
	.item:hover .item-overlay.overlay-white {
		background:rgba(255,255,255,0.8);
	}
	
	.item .item-overlay.overlay-gradient {
		background: rgb(111,226,158); /* Old browsers */
		background: -moz-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%, rgba(91,218,209,0.8) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(111,226,158,0.8)), color-stop(100%,rgba(91,218,209,0.8))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* IE10+ */
		background: linear-gradient(135deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fe29e', endColorstr='#5bdad1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		opacity:0;
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
	}
	
	.item:hover .item-overlay.overlay-gradient {
		background: rgb(111,226,158); /* Old browsers */
		background: -moz-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%, rgba(91,218,209,0.8) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(111,226,158,0.8)), color-stop(100%,rgba(91,218,209,0.8))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* IE10+ */
		background: linear-gradient(135deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fe29e', endColorstr='#5bdad1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		opacity:1;
	}
	
	.item-cat {
		display:block;
		font-family: 'Inconsolata', serif;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
		margin-left:-100%;
		margin-top:30px;
		color:#999;		
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.padding-overlay .item-cat {
		margin:0 20px 5px 20px;
		opacity:0;
		-ms-transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-o-transition:translateY(-20px);
		transform: translateY(-20px);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.item-overlay.overlay-gradient .item-cat {
		color:#fff;
	}
	
	.item:hover .item-cat {
		margin-left:30px;
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
	}
	
	.item:hover .padding-overlay .item-cat {
		margin:0 20px 5px 20px;
		opacity:1;
		-ms-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-o-transition:translateY(0px);
		transform: translateY(0px);
		-webkit-transition: all 0.5s ease-in-out 0.5s;
		-moz-transition: all 0.5s ease-in-out 0.5s;
		-o-transition: all 0.5s ease-in-out 0.5s;
		-ms-transition: all 0.5s ease-in-out 0.5s;
		transition: all 0.5s ease-in-out 0.5s;
	}
	
	.item-title {
		display:block;
		position:relative;
		font-weight: 400;
		font-family: 'Montserrat', sans-serif;
		color:#fff;
		font-size:24px;
		margin-left:-100%;
		margin-top:5px;
		margin-right:28px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	
	.padding-overlay .item-title {
		margin:5px 20px 0px 20px;
		-ms-transform: translateY(20px);
		-webkit-transform: translateY(20px);
		-o-transition:translateY(20px);
		transform: translateY(20px);
		opacity:0;
		font-size:18px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.item-overlay.overlay-white .item-title {
		color:#000;
	}
	
	.item:hover .item-title {
		margin-left:28px;
		-webkit-transition: all 0.6s ease-in-out 0.3s;
		-moz-transition: all 0.6s ease-in-out 0.3s;
		-o-transition: all 0.6s ease-in-out 0.3s;
		-ms-transition: all 0.6s ease-in-out 0.3s;
		transition: all 0.6s ease-in-out 0.3s;
	}
	
	.item:hover .padding-overlay .item-title {
		margin:5px 20px 0px 20px;
		opacity:1;
		-ms-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-o-transition:translateY(0px);
		transform: translateY(0px);
		-webkit-transition: all 0.5s ease-in-out 0.5s;
		-moz-transition: all 0.5s ease-in-out 0.5s;
		-o-transition: all 0.5s ease-in-out 0.5s;
		-ms-transition: all 0.5s ease-in-out 0.5s;
		transition: all 0.5s ease-in-out 0.5s;
	}
	
	.item-title:after {
		background: none repeat scroll 0 0 #666;
		bottom: -20px;
		content: "";
		height: 1px;
		left: 1px;
		position: absolute;
		width: 40px;
		opacity:0;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.padding-overlay .item-title:after {
		content: "";
		height: 0px;
	}
	
	.item-overlay.overlay-white .item-title:after {
		background: none repeat scroll 0 0 rgba(0,0,0,0.2);
	}
	
	.item-overlay.overlay-gradient .item-title:after {
		background: none repeat scroll 0 0 rgba(255,255,255,0.4);
	}
	
	.item:hover .item-title:after {
		opacity:1;
		bottom: -15px;
		-webkit-transition: all 0.2s ease-in-out 0.9s;
		-moz-transition: all 0.2s ease-in-out 0.9s;
		-o-transition: all 0.2s ease-in-out 0.9s;
		-ms-transition: all 0.2s ease-in-out 0.9s;
		transition: all 0.2s ease-in-out 0.9s;
	}
	
	
	
/*--------------------------------------------------
	09. Portfolio Isotope Transitions
---------------------------------------------------*/

	.isotope, .isotope .isotope-item {
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
		transition-duration: 0.8s;
	}
	
	.isotope {
		-webkit-transition-property: height, width;
		-moz-transition-property: height, width;
		-ms-transition-property: height, width;
		-o-transition-property: height, width;
		transition-property: height, width;
	}
	
	.isotope .isotope-item {
		-webkit-transition-property: -webkit-transform, opacity;
		-moz-transition-property: -moz-transform, opacity;
		-ms-transition-property: -ms-transform, opacity;
		-o-transition-property: -o-transform, opacity;
		transition-property: transform, opacity;
	}
	
	.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
		-webkit-transition-duration: 0s;
		-moz-transition-duration: 0s;
		-ms-transition-duration: 0s;
		-o-transition-duration: 0s;
		transition-duration: 0s;
	}
	
	
	
/*--------------------------------------------------
	10. Project Page
---------------------------------------------------*/	
	
	.projects-nav {
		width:100%;
		height:auto;
		display:inline-block;
		margin-top:180px;
	}
	
	.projects-nav:after {
		clear: both;
		content: " ";
		display: block;
	}
	
	.prev-project {
		background-image:url(../images/prev_project.png);
		background-size:23px 43px;
		background-repeat:no-repeat;
		float:left;
		text-align:left;
		width:auto;
		height:43px;
		padding-left:50px;
		overflow:hidden;
		opacity:0.4;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.prev-project:hover {
		opacity:1;
	}
	
	.next-project {
		background-image:url(../images/next_project.png);
		background-size:23px 43px;
		background-repeat:no-repeat;
		background-position:right;
		float:right;
		text-align:right;
		width:auto;
		height:43px;
		padding-right:50px;
		overflow:hidden;
		opacity:0.4;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.next-project:hover {
		opacity:1;
	}
	
	.buton-nav-content {
		overflow:hidden;
		height:40px;
		padding-top:3px;
	}
	
	.prev-project, .next-project {
		font-family: 'Inconsolata' ;
		font-size:14px;
		color:#999;
		
	}
	
	.prev-project .name-prev-project , .next-project .name-next-project {
		font-family: 'Montserrat', sans-serif;
		font-size:16px;
		color:#000;
		text-transform:uppercase;
		display:block;
		opacity:0;
		-webkit-transition: all 0.4s ease-in-out 0.2s;
		-moz-transition: all 0.4s ease-in-out 0.2s;
		-o-transition: all 0.4s ease-in-out 0.2s;
		-ms-transition: all 0.4s ease-in-out 0.2s;
		transition: all 0.4s ease-in-out 0.2s;
	}
	
	.prev-project .name-prev-project {
		margin-left:-100px;
	} 
		
	.next-project .name-next-project {
		margin-right:-100px;
	}
	
	.prev-project:hover .name-prev-project, .next-project:hover .name-next-project {
		opacity:1;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	
	.prev-project:hover .name-prev-project {
		margin-left:0px;
	} 
		
	.next-project:hover .name-next-project {
		margin-right:0px;
	}
		
	.prev-project .text-prev-project, .next-project .text-next-project {
		opacity:0;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	
	.prev-project .text-prev-project {
		margin-left:-100px;
	} 
		
	.next-project .text-next-project {
		margin-right:-100px;
	}
	
	.prev-project:hover .text-prev-project, .next-project:hover .text-next-project {
		opacity:1;
		color:#999;
		-webkit-transition: all 0.4s ease-in-out 0.2s;
		-moz-transition: all 0.4s ease-in-out 0.2s;
		-o-transition: all 0.4s ease-in-out 0.2s;
		-ms-transition: all 0.4s ease-in-out 0.2s;
		transition: all 0.4s ease-in-out 0.2s;
	}		
			
	.prev-project:hover .text-prev-project {
		margin-left:0px;
	} 
		
	.next-project:hover .text-next-project {
		margin-right:0px;
	}
	
	.all-projects {
		color: #000;
		font-family: "Montserrat",sans-serif;
		font-size: 16px;
		height: 43px;
		left: 50%;
		line-height: 43px;
		margin: 0 auto 0 -100px;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		width: 200px;
		-webkit-transition: all 0.2s ease-in-out 0.2s;
		-moz-transition: all 0.2s ease-in-out 0.2s;
		-o-transition: all 0.2s ease-in-out 0.2s;
		-ms-transition: all 0.2s ease-in-out 0.2s;
		transition: all 0.2s ease-in-out 0.2s;
	}
	
	.all-projects span {
		color: #999;
		display: block;
		font-size: 24px;
		line-height: 3px;
		opacity:0;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.all-projects:hover {
		line-height:25px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.all-projects:hover span {
		opacity:1;
		-webkit-transition: all 0.2s ease-in-out 0.2s;
		-moz-transition: all 0.2s ease-in-out 0.2s;
		-o-transition: all 0.2s ease-in-out 0.2s;
		-ms-transition: all 0.2s ease-in-out 0.2s;
		transition: all 0.2s ease-in-out 0.2s;
	}
	
	

/*--------------------------------------------------
	11. Blog Page
---------------------------------------------------*/
	
	
	#blog {
		margin-bottom:100px;
	}
	
	.post {
		position:relative;
		overflow:hidden;
	}
	
	.post-image {
		height:100%;
		width:100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center center;
		background-repeat:no-repeat;
		position:absolute;
		z-index:0;
		opacity:0;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		-webkit-transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
		-o-transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
		-ms-transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
		transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
		
	}
	
	.post-hover .post-image {
		opacity:1;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
		-webkit-transition: opacity 0.2s ease-in-out 0.1s, transform 5s ease-in-out 0.4s;
		-moz-transition: opacity 0.2s ease-in-out 0.1s, transform 5s ease-in-out 0.4s;
		-o-transition: opacity 0.2s ease-in-out 0.1s, transform 5s ease-in-out 0.4s;
		-ms-transition: opacity 0.2s ease-in-out 0.1s, transform 5s ease-in-out 0.4s;
		transition: opacity 0.2s ease-in-out 0.1s, transform 5s ease-in-out 0.4s;
		
	}
	
	.post .overlay {
		padding:80px 20px 100px 20px;
		background-color:rgba(0,0,0,0);
		position:relative;
		z-index:1;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;		
	}
	
	.post-hover .overlay {
		background-color:rgba(0,0,0,0.7);
	}
	
	.meta-categories {
		margin:0 0 40px;
		display:block;
	}
	
	.meta-categories.title-has-line:after {
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.post-hover .meta-categories.title-has-line:after {
		background: none repeat scroll 0 0 #555;
	}
	
	.meta-categories li {
		display:inline-block;
		margin-right:3px;
	}
	
	.meta-categories li:after {
		content:","
	}
	
	.meta-categories li:last-child:after {
		content:"";
	}
	
	.meta-categories li a {
		color:#999;
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
	}
	
	.meta-categories li a:hover {
		color:#34d5cb;
	}
	
	.post-title, .post-title-no-link {
		margin-bottom:20px;
		display:inline-block;
		font-family: 'Montserrat', sans-serif;
		color:#000;
		font-size:36px;
		line-height: 48px;
		margin-left:-3px;
		text-transform:uppercase;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.post-hover .post-title {
		color:#fff;
	}
	
	.entry-meta {
		margin:0;
		display:block;
	}
	
	.entry-meta li {
		display:inline-block;
		margin-right:10px;
		margin-bottom:10px;
	}
	
	.entry-meta li a {
		color:#999;
	}
	
	.entry-meta li a:hover {
		color:#34d5cb;
	}
	
	.entry-date:before {
		font-family: FontAwesome;
		content: "\f017";
		padding-right:3px;
	}
	
	.entry-author:before {
		font-family: FontAwesome;
		content: "\f007";
		padding-right:5px;
	}
	
	.entry-comments:before {
		font-family: FontAwesome;
		content: "\f075";
		padding-right:5px;
	}
	
	#search-box {
		width:800px;
		margin:0 auto;
		max-height:110px;
		opacity:1;
		webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;	
	}
	
	#search-box.search-hide {
		opacity:0;
		max-height:0px;
	}
	
	input#search {
		background:url("../images/zoom-search.png") no-repeat #f5f5f5;
		background-position:right 30px center;
		background-size:30px 30px;
		color: #000;
		font-size: 13px;
		height: 60px;
		padding: 20px 30px;
		width: 100%;
		border:0;
		margin-bottom:50px;
		transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		
	}
	
	input#search:focus {
		background:url("../images/zoom-search.png") no-repeat #e1e1e1;
		background-position:right 30px center;
		background-size:30px 30px;
	}
	
	.blog-nav {
		display:block;
		margin:0;
		float:left;
		width:100%;
	}
	
	.blog-nav li {
		display:inline-block;
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
		text-transform:uppercase;
	}
	
	.blog-nav li a {
		color:#999;
	}
	
	.blog-nav li.prev-posts:before {
		font-family: FontAwesome;
		content: "\f100";
		padding-right:5px;
	}
	
	.blog-nav li.prev-posts {
		float:left;
	}
	
	.blog-nav li.next-posts:after {
		font-family: FontAwesome;
		content: "\f101";
		padding-left:5px;
	}
	
	.blog-nav li.next-posts {
		float:right;
	}

	.blog-nav li a:hover {
		color:#34d5cb;
	}
	
	#blog-post {
		padding:0 200px;
	}
	
	.post-header {
		margin-bottom:150px;
	}
	
	.post-content {
		margin-bottom:150px;
	}
	
	#post-sharing {
		position:relative;
		padding-bottom:100px;
		max-height:120px;
		overflow:hidden;
		opacity:1;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
	}
	
	#post-sharing.share-hide {
		opacity:0;
		max-height:0px;
		padding-bottom:0px;
	}
	
	.post-share {
		margin:0;
		position:absolute;
		right:0;
		top:0;		
	}
	
	.post-share li {
		display:inline-block;
		margin-left:10px;
	}
	
	.post-share li:after {
		content:"|";
		padding-left:10px;
		color:#ddd;
	}
	
	.post-share li:last-child:after {
		content:"";
	}
	
	.post-share li a {
		color:#999;
	}
	
	.post-share li a:hover {
		color:#34d5cb;
	}
	
/* Blog Comments */	

	.post-comments {
		margin-bottom:110px;
		padding-top:20px;
		padding-bottom:40px;
	}
	
	.post-comments h4 {
		margin-bottom: 60px;
	}
	
	.user_comment {
		color: #000;
		margin-bottom: 60px;
		padding-left: 80px;
		position:relative;
	}
	
	.user-image {
		border-radius: 100%;
		height: 60px;
		overflow: hidden;
		width: 60px;
		position:absolute;
		left:0px;
	}
	
	.user-image img {
		width:100%;
		height:auto;
	}
	
	.comment-name {
		margin-bottom:0px
	}
	
	.comment-date {
		color: #999;
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
		margin-bottom: 10px;
	}
	
	.comment-text {
		color: #999999;
		margin-bottom:5px;
	}
	
	.user_comment_reply {
		position:relative;
		color: #000;
		padding-left: 80px;
		margin-top: 60px;
		display:block;
	}
	
	.reply {
		color: #999;
		display: block;
		font-family: "Inconsolata";
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 1px;
		line-height: 14px;
		margin-top: 15px;
	}
	
	.reply:before {	
		font-family: FontAwesome;
		content: "\f075";
		padding-right:5px;
		color:#999;
	}
	
	.post-formular {
		margin-bottom:100px;
	}
	
	.post-formular h4 {
		margin-bottom:60px;
	}
	
	#commentsform textarea {
		height:130px;
		resize:none;
		padding: 15px 25px;
	}
	
	
	
/*--------------------------------------------------
	12. Contact Page
---------------------------------------------------*/		
	
	#map_canvas {
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}
	
	#map_canvas img {
		max-width:inherit !important;
	}
	
	.gmnoprint a, .gmnoprint span, .gm-style-cc {
		display:none;
	}
	
	.gmnoprint div {
		background:none !important;
	}
	
	#contact-formular {
		width:800px;
		margin:0 auto;
	}
	
	input[type="text"], textarea {
		color: #000;
		font-family: 'Inconsolata' ;
		font-size: 14px;
		letter-spacing:1px;
		height: 50px;
		padding: 10px 25px;
		width: 100%;
		background:#f5f5f5;
		border-radius:0px;
		margin-bottom:30px;
		border:0;
		transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		box-sizing: border-box;
	}
	
	input[type=text]:focus, textarea:focus, input[type=email]:focus {
		background-color: #e1e1e1;
	}
	
	#contact-formular textarea {
		height:160px;
		resize:none;
		padding: 20px 25px;
	}
	
	input[type="submit"]	{
		color:#fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		text-transform:uppercase;
		padding:15px 40px;
		letter-spacing:0;
		line-height:20px;
		cursor:pointer;
		border:none;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
		text-align:center;
		letter-spacing:1px;
		background-color:#34d5cb;
	}
	
	input[type="submit"]:hover {
		background-color:#000;
	}
	
	.error_message {		
		text-align:center;		
		margin-bottom:30px;
		font-size:13px;		
		color:#e93735;		
		font-weight:bold;		
	}
	
	#success_page {		
		text-align:center;		
	}	
	
	#success_page p {		
		color:#999999;		
		margin-top:20px;		
	}
	
	#message fieldset {		
		border:none;		
	}
	
	#contact-info {
		max-height:500px;
		opacity:1;
		margin: 0;
		width: 800px;
		left:50%;
		margin-left:-400px;
		float:left;
		position:relative;
		z-index:0;		
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;	
	}
	
	#contact-info.contact-hide {
		max-height:0px;
		opacity:0;
		z-index:-1;		
	}
	
	
	
/*--------------------------------------------------
	13. Image & Div Animation
---------------------------------------------------*/

	img.img-with-animation, .has-animation {
		opacity: 0;
		position: relative;
	}
	
	img.img-with-animation[data-animation="grow-in"].full-opacity {
		opacity: 1;
	}
	
	img.img-with-animation[data-animation="fade-in-from-left"] {
		left: -40px;
		padding-right: 30px;
	}
	
	.has-animation[data-animation="fade-in-from-left"] {
		left: -40px;
	}
	
	img.img-with-animation[data-animation="fade-in-from-right"] {
		right: -40px;
		padding-left: 30px;
	}
	
	.has-animation[data-animation="fade-in-from-right"] {
		right: -40px;
	}
	
	img.img-with-animation[data-animation="fade-in-from-bottom"] {
		bottom: -80px;
	}
	
	.has-animation[data-animation="fade-in-from-bottom"] {
		bottom: -50px;
	}
	
	img.img-with-animation[data-animation="fade-in-from-left"], img.img-with-animation[data-animation="fade-in-from-right"] {
		margin: 0 auto;
	}	
	
	
	
/*--------------------------------------------------
	14. Shortcodes
---------------------------------------------------*/	


/* Hidden Boxes */
	
	.hidden-box {
		box-sizing:border-box;
		padding:50px 0;
	}
	
	.header-box, .content-box, .footer-box {
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
	}
	
	.header-box {
		color:#000;
	}		
	
	.hidden-box:hover .header-box {
		-ms-transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-o-transition:translateY(-20px);
		transform: translateY(-20px);
		color:#34d5cb;		
	}
	
	.content-box {
		opacity:0;
	}
	
	.hidden-box:hover .content-box {
		opacity:1;
	}
	
	.hidden-box:hover .footer-box {
		-ms-transform: translateY(20px);
		-webkit-transform: translateY(20px);
		-o-transition:translateY(20px);
		transform: translateY(20px);		
		opacity:0.2;
	}
	
	.padding-box {
		padding:0 250px;
	}
	
	.the-icons {
		margin:0;
	}
	
	.the-icons li {
		list-style:none;
		margin-bottom:25px;
		text-align:center;
	}
	
	.the-icons li i {
		font-size: 24px;
		margin-bottom: 5px;
		vertical-align: -2px;
		
		color:#000;
		display:block;
	}
	
	
	
/* Buttons */	
	
	.clapat-button {
		color:#fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		text-transform:uppercase;
		padding:15px 30px;
		letter-spacing:0;
		line-height:20px;
		cursor:pointer;
		border:none;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
		text-align:center;
		letter-spacing:1px;
		background-color:#34d5cb;
	}
	
	.clapat-button:hover, .clapat-button:active, .clapat-button:focus {
		background-color:#000;
		color:#fff;
	}
	
	.clapat-button.outline-button {
		color:#000;
		padding:12px 27px;
		background-color:transparent;
		border:#000 3px solid;
	}
	
	.clapat-button.outline-button:hover, .clapat-button.outline-button:active, .clapat-button.outline-button:focus {
		border:#34d5cb 3px solid;
		color:#34d5cb;
	}
	
	.space-buttons {
		display: inline-block;
		height: 0px;
		width: 20px;
	}



/* Our Team */

	.our-team {
		display:block;
		margin:0px;
		width:1380px;
		text-align:center;
		margin-left:-50px;
	}
	
	.our-team li.team-member {
		width:360px;
		height:440px;
		margin:0 48px 70px 48px ;
		list-style:none;
		display:inline-block;
		background-size:contain;
		background-repeat:no-repeat;		
	}
	
	.team-overflow {
		width:360px;
		height:440px;
		overflow:hidden;
		position:absolute;
		text-align:left;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
		-webkit-transition:all 0.3s ease 0s;
		-o-transition:all 0.3s ease 0s;
	}
	
	.team-info {
		width:300px;
		height:300px;
		background: rgba(255,255,255,1);
		padding:30px;
		margin-top:360px;
		position:absolute;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
		-webkit-transition:all 0.3s ease 0s;
		-o-transition:all 0.3s ease 0s;
	}

	.our-team li:hover  .team-info {
		margin-top:0px;
		padding-top:50px;
		background: rgba(255,255,255,0.9);	
	}
	
	.team-name {
		margin-bottom:2px;
		text-transform:uppercase;
	}
	
	.team-function {
		margin-bottom:50px;
	}
	
	.team-description {
		margin-bottom:40px;
	}
	
	.socials {	
		margin: 0 0 20px;
		display:block;
		width:100%;
	}
	
	.socials li {
		list-style:none;
		display:inline-block;
		margin-left: -4px;
	}
	
	.socials li:first-child {
		margin-left: 3px;
	}
	
	.socials li:first-child a {
		padding-left: 0px;
	}
	
	.socials li a {
		border-right: 1px dotted rgba(0, 0, 0, 0.2);
		padding:0 20px;
		color: #000;
		display: block;
		font-size: 16px;
		height: 16px;
		line-height: 10px;
		width:20px;
	}
	
	.socials li:last-child a {
		border-right: none;
	}
	
	.socials li a:hover {
		color:#34d5cb;
	}
	
	
	
/* Service Icon Boxes */	
	
	.services-icon i {
		font-size:36px;
		float:left;
		margin-right:10px;
		color:#000;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		transition:all 0.2s ease 0s;
		-moz-transition:all 0.2s ease 0s;
    	-webkit-transition:all 0.2s ease 0s;
    	-o-transition:all 0.2s ease 0s;
	}
	
	.services-icon:hover i {
		color:#34d5cb;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	
	.service-info-text {
		margin-left:60px;
		margin-bottom: 50px;
	}
	
	.service-info-text h5 {
		margin-bottom: 5px;
		padding-top: 5px;
	}
	
	

/* Service Icon top Boxes */
	
	.service-icon-top i {
		font-size:18px;
		line-height:24px;
		margin-bottom:15px;
		color:#000;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		transition:all 0.2s ease 0s;
		-moz-transition:all 0.2s ease 0s;
    	-webkit-transition:all 0.2s ease 0s;
    	-o-transition:all 0.2s ease 0s;
	}
	
	.service-icon-top:hover i {
		color:#34d5cb;
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-o-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
	}
	
	.service-info-text {
		margin-left:60px;
		margin-bottom: 50px;
	}
	
	.service-info-text h5 {
		margin-bottom: 5px;
		padding-top: 5px;
	}
	


/*  Accordions  */	

	.accordion dt {
		cursor: pointer;
		padding: 10px 15px;
		margin-bottom:10px;
		background-color:#eeeeee;		
		transition:all 0.2s ease 0s;
		-moz-transition:all 0.2s ease 0s;
    	-webkit-transition:all 0.2s ease 0s;
    	-o-transition:all 0.2s ease 0s;
	}
	
	.accordion dt.accordion-active {
		background-color:#34d5cb;
		color:#fff;
	}
	
	.accordion dt:hover {
		background-color:#000;
		color:#fff;
	}
	
	.accordion dt {
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
	}
	
	.accordion dt.accordion-active:after {
		content:"_";
		margin-top:-10px;
	}
	
	.accordion dt:after {
		content:"+";
		float:right;
		font-family:Arial, Helvetica, sans-serif;
		font-size:17px;
		font-weight:bold;
		margin-top:-3px;
	}
	
	.accordion .accordion-content {
		padding: 5px 15px;
		line-height: 25px;
	}
	
	
	
/* Toggle */
	
	.toggle-wrap {
		float:left;
		width:100%;
	}

	.toggle-title {
		background: #eeeeee;
		cursor: pointer;
		padding: 10px 15px;
		margin-bottom: 10px;
		display: block;
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
		transition:all 0.2s ease 0s;
		-moz-transition:all 0.2s ease 0s;
    	-webkit-transition:all 0.2s ease 0s;
    	-o-transition:all 0.2s ease 0s;
	}
	
	.toggle-title:after {
		content:"+";
		float:right;
		font-family:Arial, Helvetica, sans-serif;
		font-size:17px;
		font-weight:bold;
		margin-top:-3px;
	}
	
	.toggle-title a {
		color:#999;
		text-decoration: none;
	}
	
	.toggle-title:hover {
		background: #000;
		color:#fff;
	}
	
	.toggle-title:hover a{
		color:#fff;
	}
		
	.toggle_container {
		padding: 5px 15px;
		margin-bottom: 24px;
		line-height: 25px;
	}
	
	.toggle-active {
		color:#fff;
		background: #34d5cb;
	}
	
	.toggle-active:after {
		content:"_";
		margin-top:-10px;
	}
	
	.toggle-active a {
		color:#FFF;
	}
	
	
	
/*  Tabs  */
	
	.tab-shortcode {
		display:table;
		width:100%;
	}
		
	ul.tabs { 
		overflow: hidden; 
		margin: 0px; 
	}
	
	ul.tabs li { 
		float: left; 
		margin: 0px; 
		list-style: none; 
	}
			
	ul.tabs li a {
		display: block;
		background-color: #eeeeee;
		padding: 6px 20px;
		margin-right: 5px;
		color: #999;
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
	}
			
	ul.tabs .tab-active a { 
		color: #fff;
		background-color: #34d5cb;
	}
	
	ul.tabs li a:hover{ 
		color: #fff;
		background-color: #000;
	}
			
	.tab_container {
		clear: both;
		padding: 20px;
		margin-top:0px;
		border:#ebebeb solid 1px;
		line-height:25px;
	}
	
	

/*  Alert Boxes  */
	
	.alertboxes {
		float:left;
		width:100%;
	}
	
	.shortcode_alertbox {
		color: #FFFFFF;
		display: block;
		line-height: 20px;
		margin-bottom: 20px;
		padding: 15px 40px 15px 14px;
		position: relative;
	}
	
	.shortcode_alertbox .box_close {
		background: url("../images/close_box.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		background-position:10px 10px;
		background-size:20px 20px;
		display: block;
		height: 40px;
		position: absolute;
		right: 5px;
		top: 5px;
		width: 40px;
		cursor:pointer;
	}
	
	.shortcode_alertbox b {
		color:inherit;
	}
	
	.shortcode_alertbox.box_red {
		background: none repeat scroll 0 0 #F9E5E6;
		color:#B3696C;
	}
	
	.shortcode_alertbox.box_blue {
		background: none repeat scroll 0 0 #D8ECF5;
		color: #528DA9;
	}
	
	.shortcode_alertbox.box_yellow {
		background: none repeat scroll 0 0 #FCF7D9;
    	color: #C4A21B;
	}
	
	.shortcode_alertbox.box_green {
		background: none repeat scroll 0 0 #E3EBC6;
		color: #8FA442;
	}
	
	
	
/* Progress Bars */	
	
	.progress-bar {
		text-align: left!important;
		margin: 0px!important;	
	}
	
	ul.progress-bar {
		margin:0;
	}
	
	.progress-bar li {
		list-style: none!important;
		cursor:pointer;
	}
	
	.progress-bar li i {
		margin:0;
	}
	
	.progress-bar li:last-child span {
		margin-bottom: 0px;
	}
	
	.progress-bar li .bar-wrap {
		margin-bottom:20px;
		background-color: #eee;
	}
	
	.progress-bar li span { 
		height: 10px;
		width: 0px;
		display: block;
		background-color: #000;
		transition:background-color 0.2s ease 0s;
		-moz-transition:background-color 0.2s ease 0s;
    	-webkit-transition:background-color 0.2s ease 0s;
    	-o-transition:background-color 0.2s ease 0s;
	}
	
	.progress-bar li:hover span {
		background-color: #34d5cb;
	}
	.progress-bar li p {
		margin-bottom:5px;
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
	}
	
	.progress-bar li span {
		overflow: visible!important;
		position: relative;
	}
	
	.progress-bar li span strong {
		position: absolute;
		right: -0px;
		top: -25px;
		padding: 4px 0px;
		color: #000;
		line-height: 12px;
		font-size: 11px;
		opacity: 0;
		display: block;
	}
	
	.progress-bar li span strong i {
		font-style:normal;
	}	
	
	.progress-bar li span strong.full:after {
		left: 15px;
	}
	
	.progress-bar li span strong.full {
		width: 43px;
		text-align: center;
	}
	
	
	
/* Number Counters */		
	
	.clapat-counters {
		display: table;
		margin-left: 0;
		text-align: center;
		width: 100%;
	}
	
	.clapat-counter {
		text-align: center;
		list-style:none;
		display:inline-block;
		border-right:1px solid #f0f0f0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		width:25%;
		display:table-cell;
	}
	
	.clapat-counter:last-child {
		border-right:none;
	}
	
	.clapat-counter .number {
		display: block;
		font-family: 'Montserrat', sans-serif;
		font-size: 48px;
		
		line-height: 48px;
		margin-bottom: 5px;
		color:#000;
	}
	
	.clapat-counter .subject {
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
	}
	
	
	
/* Pricing Tables */		
	
	.p-table-item{
		margin: 0 0 30px;
		position: relative;
		text-align: center;
	}
	
	.p-table-item-inner{
		border: 3px solid #eaeaea;
		vertical-align: middle;transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
		-webkit-transition:all 0.3s ease 0s;
		-o-transition:all 0.3s ease 0s;
	}
	
	.p-table-item-inner:hover{
		border-color: #000;
		
	}
	
	.active .p-table-item-inner{
		border-color: #000;
	}
	
	.p-table-wrap{
		position: relative;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
		padding: 30px 20px;
		text-align: center;
		overflow: hidden;
	}
	
	.p-table-icon{
		padding-top: 10px;
		padding-bottom: 5px;
		position: relative;
		font-size: 32px;
		z-index: 1;
		color:#000;
	}
	
	.p-table-title{
		position: relative;
		margin-bottom: 40px;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1px;
		z-index: 1;
		color:#000;
		text-transform:uppercase;
	}
	
	.p-table-list{
		margin: 0 -20px 30px;
		padding: 0;		
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
	}
	
	.p-table-list li{
		padding: 12px 20px;
		list-style: none;
		border-bottom: 1px solid #ebebeb;
	}
	
	.p-table-list li:first-child{
		border-top: 1px solid #ebebeb;
	}
	
	.p-table-num{
		font-family: 'Montserrat', sans-serif;
		font-size: 40px;
		font-weight: 700;
		line-height: 1;
		margin: 0 -20px;
		border-top: 1px solid #ebebeb;
		padding-top:20px;
		color:#000;
	}
	
	.p-table-num sup{
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		position: relative;
		top: -15px;
		left: -3px;
		margin-left: -7px;
		color:#000;
	}
	
	.p-table-button{
		margin: 50px 0 20px 0;
	}
	
	.p-table-per {
		margin-bottom: 20px;
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
	}
	
	
	
/* Video Hover Play Image */	

	.cntVid, figure.vimeo, figure.youtube {
		margin:0;
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 0;
		height: 0;
		overflow: hidden;
	}
	
	.cntVid iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	figure.youtube a img, figure.vimeo a img {
		position: absolute;
		top: 0;
		left: 0;
		width: auto;
		height: 100%;
		max-width:none;
	}
	
	figure.vimeo a:after, figure.youtube a:after {
		content:"";
		width:60px;
		height:60px;
		background:#fff;
		z-index:9;
		position:absolute;
		top:50%;
		left:50%;
		margin:-30px 0 0 -30px;
		border:3px solid #fff;
		-webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.01);
		-moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.01);
		box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.01);
	}
	
	figure.vimeo a:before, figure.youtube a:before {
		content:"";
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 8px solid #000;
		z-index:10;
		position:absolute;
		top:50%;
		left:50%;
		margin-left:0px;
		margin-top:-4px;
		display:block;
	}
	
	figure.vimeo a:hover img, figure.youtube a:hover img {
		-webkit-transition: all 0.6s;
		transition: all 0.6s;
		-webkit-transform: scale(1.02);
		transform: scale(1.02);
	}
	
	figure.vimeo a img, figure.youtube a img {
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		a -webkit-transform: scale(1);
		transform: scale(1);
	}
	


/* Radial Counters */	
	
	.radial-counter {
		display:block;
		margin:0 50px;
		cursor:default;
		margin:10px;
	}
	
	.radial-counter input {
		cursor:default;
		font-family: 'Montserrat', sans-serif!important;
		font-weight:400!important;
		font-size:13px!important;
		height:50px!important;
		width:50px!important;
		background-color:#34d5cb!important;
		border-radius:100%;
		margin-left: -95px!important;
    	margin-top: 45px!important;
	}
	
	.radial-counter-name {
		margin-top:15px;
	}
	
	.radial-counter-info {
		margin-top:10px;
	}
	
	
	
/* Quote */	
	
	.quote {
		font-weight:normal;
		text-align:center;
		font-family: 'Montserrat', sans-serif;
		color:#000;
		font-size:36px;
		margin:20px 0;
		line-height:36px;
	}
	
	span.quote-img-left  {
		background-image: url("../images/quote1.png");
		background-size: 21px 17px;
		display: inline-block;
		height: 17px;
		margin-bottom: 9px;
		margin-right: 10px;
		opacity: 0.2;
		width: 21px;
	}
	
	span.quote-img-right  {
		background-image: url("../images/quote2.png");
		background-size: 21px 17px;
		display: inline-block;
		height: 17px;
		margin-bottom: 9px;
		margin-left: 10px;
		opacity: 0.5;
		width: 21px;
	}
	
	.quote-author {
		text-align:center;
	}		
	
	
	
/* 404 Page */
	
	.page-error {
		margin:50px 0;
	}
	
	.page-error p {
		margin-bottom:50px;
	}
	
	.blink_me {
		font-size:100px;
		line-height:100px;
		-webkit-animation-name: blinker;
		-webkit-animation-duration: 2s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
	
		-moz-animation-name: blinker;
		-moz-animation-duration: 2s;
		-moz-animation-timing-function: linear;
		-moz-animation-iteration-count: infinite;
	
		animation-name: blinker;
		animation-duration: 2s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	
	@-moz-keyframes blinker {  
		0% { color:#000; }
		25% { color:#fff; }		
		50% { color:#000; }
		75% { color:#fff; }
		100% { color:#000; }
	}
	
	@-webkit-keyframes blinker {  
		0% { color:#000; }
		25% { color:#fff; }		
		50% { color:#000; }
		75% { color:#fff; }
		100% { color:#000; }
	}
	
	@keyframes blinker {  
		0% { color:#000; }
		25% { color:#fff; }		
		50% { color:#000; }
		75% { color:#fff; }
		100% { color:#000; }
	}				
	
	
	
/*--------------------------------------------------
	15. Footer
---------------------------------------------------*/

	footer {
		overflow: hidden;
		position: relative;
		width: 100%;
		z-index: 2;
	}
	
	#footer-content {
		background: none repeat scroll 0 0 #eeeeee;
	}
	
	.footer-white {
		background-color:#fff;
		width: 100%;
		height:100%;
	}
	
	#footer-content .footer-white  .container {
		padding-top:10px;
	}
	
	#footer-content .container {
		padding-top:100px;
		padding-bottom:80px;
		display:table;
	}
	
	ul.text-socials {
		margin:0;
	}
	
	ul.text-socials li {
		list-style:none;
		display:inline-block;
		margin:0 20px 40px ;
		text-transform:uppercase;
	}
	
	ul.text-socials li a {
		color:#000;
		border-bottom: rgba(0,0,0,0) 2px solid;
		padding-bottom: 5px;
		letter-spacing:2px;
	}
	
	ul.text-socials li a:hover {
		border-bottom: #34d5cb 2px solid;
    	
	}
	
	ul.footer-socials {
		margin-left:0;
		margin-bottom:30px;
	}
	
	ul.footer-socials li {
		display:inline-block;
		margin-right:15px;
		text-align:center;
	}
	
	ul.footer-socials li a {
		border-radius:50px;
		background-color:#999;
		line-height:40px;
		color:#fff;
		width:40px;
		height:40px;
		display:block;
		font-size:16px;		
	}
	
	ul.footer-socials li a:hover {
		background-color:#000
	}
	
	.copyright-minimal {
		float:left;
	}
	
	.text-socials-minimal {
		margin:0;
		display:block;
		float:right;
	}
	
	.text-socials-minimal li {
		display:inline-block;
		font-family: 'Inconsolata' ;
		font-weight:400;
		font-size:14px;
		letter-spacing:1px;
		margin-right:5px;
	}
	
	.text-socials-minimal li:last-child {
		margin-right:0;
	}
	
	.text-socials-minimal li:after {
		content:","
	}
	
	.text-socials-minimal li:first-child:after, .text-socials-minimal li:last-child:after {
		content:""
	}
	
	.text-socials-minimal li a {
		color:#999;
		text-transform:uppercase;
		line-height:25px;
	}
	
	.text-socials-minimal li a:hover {
		color: #34d5cb;
	}
	
	
		
/*--------------------------------------------------
	16. Responsive
---------------------------------------------------*/			
			
@media only screen and (max-width: 1466px) {
	
	.container {
		width:940px;
	}
	
	#header-wrapper {
		width: 940px;
	}
	
	#search-box {
		width:100%;
	}

	#blog-post {
		padding:0 100px;
	}
	
	.our-team {
		width:1000px;
		margin-left:-30px;
	}
	
	.our-team li.team-member {
		width:300px;
		height:380px;
		margin:0 9px 70px 9px ;
	}
	
	.team-overflow {
		width:300px;
		height:380px;
	}
	
	.team-info {
		width:260px;
		height:300px;
		padding:20px 30px;
		margin-top:300px;
	}

	.our-team li:hover  .team-info {
		padding-top:30px;	
	}
	
	.padding-box {
		padding:0 150px;
	}
	

}


@media only screen and (max-width: 1024px) {
	
	.container {
		width:600px;
	}
	
	.page-title {
		width:100%;
	}
	
	#header-wrapper {
		width: 600px;
	}
	
	.menu-socials {
		display:none;
	}
	
	.menu-copyright {
		display:none;
	}
	
	#hero img {
		width:100%;
	}
	
	.prev-project {
		width:0;
	}
	
	.next-project {
		width:0;
	}
	
	#contact-formular {
		width:600px;
	}
	
	#contact-info {
		max-height:1000px;
		left:0;
		margin-left:0;
		width:100%;
	}
	
	.one_half {
    	width: 100%;
	}	

	.one_third {
		width: 100%;
	}	

	.one_fourth {
		width: 100%;
	}	

	.one_fifth {
		width: 100%;
	}	

	.one_sixth {
		width: 100%;
	}	

	.two_fifth {
		width: 100%;
	}	

	.two_fourth {
		width: 100%;
	}		

	.two_third {
		width: 100%;
	}	

	.three_fifth {
		width: 100%;
	}	

	.three_fourth {
		width: 100%;
	}	

	.four_fifth {
		width: 100%;
	}	

	.five_sixth {
		width: 100%;
	}	

	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
		margin-bottom: 20px;
		margin-right: 0%;
	}
	
	.item.item-gap {
		display:none;
	}
	
	.post-image {
		opacity:1;
	}
	
	.meta-categories.title-has-line:after {
		background: none repeat scroll 0 0 #555;
	}
	
	.post-title {
		color:#fff;
	}
	
	.post .overlay {
		background-color:rgba(0,0,0,0.7);
	}
	
	.post {
		margin-bottom:50px;
	}
	
	#blog-post {
		padding:0;
	}
	
	.our-team {
		width:100%;
		margin-left:0px;
	}
	
	.our-team li.team-member {
		width:400px;
		height:480px;
		margin:0 48px 70px 48px ;
	}
	
	.team-overflow {
		width:400px;
		height:480px;
	}
	
	.team-info {
		width:340px;
		height:340px;
		padding:30px;
		margin-top:400px;
	}

	.our-team li:hover  .team-info {
		margin-top:0px;
		padding-top:50px;
	}
	
	.clapat-counter {
		border-bottom: 1px solid #f0f0f0;
		border-right: 0 none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		display: block;
		list-style: outside none none;
		margin-bottom: 30px;
		padding-bottom: 10px;
		text-align: left;
		width: 100%;
	}
	
	.text-socials-minimal {
		float:left;
	}
	
	.padding-box {
		padding:0px;
	}
	
	#footer-content .container {
		text-align:left;
	}
	
	ul.text-socials {
		text-align: left;
	}
	
	ul.text-socials li {
		margin: 0 20px 40px 0;
	}
	
	.space-buttons {
		display: block;
		width:100%;
	}
	
	.parallax {
		background-position: center top !important;
		background-attachment: scroll !important;
		height: auto;		
		width: 100%;
	}
	
	
}


@media only screen and (max-width: 767px) {
	
	.container {
		width:400px;
	}
	
	#header-wrapper {
		width: 400px;
	}
	
	.post-title {
		font-size:30px;
		line-height:36px;
	}
	
	#contact-formular {
		width:400px;
	}
	
	input#search {
		background:#f5f5f5;
		background-image:none;
	}
	
	.user_comment_reply {
		margin-left: -80px;
	}
	
	.post-share {
		margin-left: -10px;
		position: relative;
	}
	
	.our-team li.team-member {
		margin:0 0px 70px 0px ;
	}
	
	#filters {
		max-height:500px;
		position:relative;
	}
	
	#filters li {
		display: block;
		margin: 0 10px 10px;
	}
	
	#filters li:last-child {
		padding-bottom:150px;
	}
	
	.page-error {
		margin:0;
	}
	
	.blink_me {
		font-size:60px;
		line-height:60px;
	}
	
}


@media only screen and (max-width: 479px) {
	
	.container {
		width:240px;
	}
	
	#header-wrapper {
		width: 240px;
	}
	
	.item:hover .padding-overlay {
		padding:10px;
	}
	
	#contact-formular {
		width:240px;
	}
	
	.our-team li.team-member {
		width:240px;
		height:320px;
	}
	
	.team-overflow {
		width:240px;
		height:320px;
	}
	
	.team-info {
		width:300px;
		height:300px;
		padding:20px 30px;
		margin-top:240px;
	}
	
	.team-description {
		display:none;
	}

	.our-team li:hover  .team-info {
		padding-top:30px;	
	}
	
		
}			